<div class="content-block">
    <h3>Graph</h3>
    <canvas id="chart" width="400" height="400"></canvas>
    <script>
        function ChartJS(ctx, config) {
            return new Chart(ctx, config)
        }
    </script>
</div>